# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

node_modules/
jspm_packages/
web_modules/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
/ws/aimacana/u2/ws18DataBase/mongodb/target/
