<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strategy Sort</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">

        <h1>Ordenamiento Strategy</h1>

        <input 
            type="text" 
            id="arrayInput" 
            placeholder="Ejemplo: 5,8,7,2"
        >

        <button onclick="sortArray()">
            Ordenar
        </button>


        <table>

            <thead>
                <tr>
                    <th>Original</th>
                    <th>Tamaño</th>
                    <th>Algoritmo</th>
                    <th>Ordenado</th>
                </tr>
            </thead>


            <tbody id="result">

            </tbody>

        </table>


    </div>


<script src="app.js"></script>

</body>
</html>