<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Tienda Virtual</title>

    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="container">

        <h1>🛒 Tienda Virtual</h1>

        <div class="form-container">

            <input
                type="text"
                id="name"
                placeholder="Nombre del producto"
            >

            <input
                type="text"
                id="category"
                placeholder="Categoría"
            >

            <input
                type="number"
                id="price"
                placeholder="Precio"
            >

            <button onclick="addProduct()">
                Agregar Producto
            </button>

        </div>

        <h2>Productos</h2>

        <div id="products"></div>

        <h2>Factura</h2>

        <div id="invoice"></div>

    </div>

    <script src="app.js"></script>

</body>
</html>
