<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Farm System</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>Animal Farm System</h1>

    <div class="container">

        <h2>Register Animal</h2>

        <input type="number" id="id" placeholder="Id">

        <input type="text" id="breed" placeholder="Breed">

        <input type="number" id="age" placeholder="Age">

        <input type="number" id="weight" placeholder="Weight">

        <br><br>

        <button id="btnSave">Save Animal</button>

    </div>

    <script src="script.js"></script>

</body>
</html>